ul {
  margin: 0 0;
  li {
    padding-left: 1.5em;
  }
}
.button_input {
  .p-dropdown {
    position: relative;
    .p-dropdown-items {
      margin: 0;
      padding: 0;
    }
    .p-dropdown-item {
      padding-left: 0 0.5em;
    }
    .p-dropdown-label::before {
      position: absolute;
      top: -2px;
      font-size: 15px;
      color: black;
    }
    .p-dropdown-label {
      display: flex;
      margin-left: 3em;
    }
    .p-placeholder {
      color: gray !important;
      position: relative;
      top: 10px;
    }
    .p-inputtext {
      color: black;
      position: relative;
      top: 10px;
      padding-block: 1.5em;
      font-size: 11px;
    }
    .p-dropdown-trigger {
      position: absolute;
      height: 100%;
      color: black;
    }
  }
}

.p-calendar {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  background: #fff;
  position: relative;
  border-color: #ced4da;

  .p-inputtext {
    color: black;
    position: relative;
    top: 14px;
    padding-left: 4em;
    padding-block: 1.5em;
    font-size: 11px;
    border: none;
    background: transparent !important;
    box-shadow: none !important;
  }

  .p-datepicker-trigger {
    position: absolute;
    height: 100%;
    line-height: 1em !important;
  }
  .p-button-icon-only {
    background: transparent !important;
    border: none;
    color: black;
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 1em;
  }
  .p-button-icon-only::before {
    position: absolute;
    top: 8px;
    left: 44px;
    font-size: 15px;
    font-weight: 400 !important;
    color: black;
    opacity: 1 !important;
  }
}

.p-dropdown-item {
  font-size: 13px;
  padding-block: 1em;
}

.guests-dropdown {
  .p-dropdown-items-wrapper {
    min-height: 240px;
  }
  .p-dropdown-items {
    height: 240px;
  }
  .p-dropdown-item {
    font-size: 13px;
    padding-block: 1em;
  }
}

.p-datepicker-calendar {
  .p-highlight {
    background: #189ce433;
    color: #189ce4;
  }
}
.p-datepicker-header {
  button {
    background: #fff !important;
    color: #189ce4 !important;
  }
}
.p-datepicker-buttonbar {
  button {
    background: #fff !important;
    color: #189ce4 !important;
  }
}
.p-datepicker {
  table {
    border: none;
  }
  td,
  th {
    border: none !important;
  }
}

.price-overlay {
  transform: translate(-50%, 0%);
}

.p-slider-range {
  background: #189ce4 !important;
}

.p-slider-handle {
  border-color: #189ce4;
  &:hover {
    background: #fff;
  }
}

.sea-dropdown {
  .p-dropdown-items-wrapper {
    min-height: 280px;
  }
  .p-dropdown-items {
    height: 280px;
  }
  .p-dropdown-item {
    font-size: 13px;
    padding-block: 1em;
  }
}

.option {
  .p-dropdown {
    position: relative;
    .p-dropdown-label::before {
      position: absolute;
      top: 5px;
      font-size: 15px;
      color: black;
    }
    .p-dropdown-label {
      display: flex;
      margin-left: 3em;
    }
    .p-placeholder {
      position: relative;
      top: 10px;
      color: white !important;
    }
    .p-inputtext {
      color: black;
      position: relative;
      top: 10px;
      padding-block: 1.5em;
      font-size: 11px;
    }
    .p-dropdown-trigger {
      position: absolute;
      height: 100%;
    }
  }
}
.p-radiobutton {
  margin-right: 0.5em;
}
.p-radiobutton-box {
  border-radius: 30%;
  &:hover {
    border-color: #189ce4;
  }
}
.p-radiobutton-box:is(.p-highlight) {
  background: #189ce4;
  border-radius: 30%;
  border-color: #189ce4;
}

.option-overlay {
  transform: translate(10%, 0%);
  position: relative;
  padding-top: 1.5em;
  > *:first-child {
    padding: 1em 0.5em;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.container {
  font-size: 14px;
  .line {
    margin-block: 1.5em;
    height: 2px;
    border: none;
    background: #dcdcdc;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.grid-item {
  display: flex;
  align-items: center;
}

.p-checkbox {
  margin-right: 0.5em;
}
.checked {
  .p-checkbox-box {
    border-color: #189ce4;
  }
}
.p-checkbox-box {
  background: #fff;
  &:hover {
    border-color: #189ce4;
  }
}
.p-checkbox-icon {
  background: #fff;
  color: #189ce4;
}

.bottom {
  display: flex;
  gap: 1em;
  .search-button,
  .clear-button {
    box-shadow: 0 1px 2px #1018280d;
    border-radius: 50px;
    height: 2.5em;
    .p-button-label {
      font-size: 13px;
    }
  }
  .search-button {
    background: #ff8c1c;
    border-color: #ff8c1c;
    width: 65%;
    color: #fff !important;
  }
  .clear-button {
    width: 35%;
    background: #fff;
    // border-color: #fff;
    color: #000;
    border: 1px solid #e7e7e7;
  }
}
